.Login-Form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.Wrapper{
    list-style: none;
    border: 1px solid black;
    padding: 10px 10px;
    background-color: gray;
    border-radius: 10px;
}

.Wrapper li{
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.Wrapper li label{
    flex: 2;
}

.Wrapper li button{
    width: 120px;
    border: 0.5px solid black;
    height: 22px;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width:576px) {

.Wrapper li{
    flex-direction: column;
}
.Wrapper li button{
    align-self: center;
}
.Wrapper li label{
    margin-bottom: 5px;
}


}
