*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.Actions button{
    margin-right: 10px;
    width:100px;
    height: 25px;
    cursor: pointer;
}

.UserInfo{
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:gray
}

@media screen and (max-width:576px){

    .NavBar{
        display: flex;
        flex-wrap: wrap;
    }
    .Brand{
        order: 1;
        flex: 1;
    }

    .Actions{
        display: flex;
        order: 2;
        flex: 1;
        justify-content: right;
    }

    .UserInfo{
        order: 3;
        flex:2;
        flex-basis: 400px;
        font-size: 12px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:gray;
        margin-top: 10px;
    }
}
